<% @community.links.each do |link| %>
  <p>
    Title: <%= link.lp_title %><br>
    Desc: <%= link.lp_description %><br>
    <% if link.lp_image.present? %>
      <%= image_tag(link.lp_image, height: "50") %><br>
    <% end %>
    Link: <%= link_to(link.url, link.url) %>
  </p>
<% end %>
