<% if @links.empty? %>
  No links for this week
<% else %>
  <% @links.each do |link| %>
    <p>
      Title: <%= link.title %><br>
      Desc: <%= link.description %><br>
      <% if link.image.present? %>
        <%= image_tag(link.image, height: "50") %><br>
      <% end %>
      Link: <%= link_to(link.url, link.url) %>
    </p>
  <% end %>
<% end %>