<section class="section">
  <div class="container">
    <% if current_user.communities.empty? %>
    <div>No Communities yet</div>
    <% else %>
    <% current_user.communities.each do |community| %>

    <h3 class="title">
      <%= community.name %>
    </h3>
    <%= form_for [community, Link.new] do |f| %>

    <div class="field has-addons">
      <div class="control">
        <%= f.text_field :url, class: "input is-small", placeholder: "Link..." %>
      </div>
      <div class="control">
        <%= f.submit "Send", class: "button is-small" %>
      </div>
    </div>

    <% end %> <%end%> <% end %>
  
  </div>
</section>